.button{
    text-decoration: none;
    padding: 0;
    border: none;
}

.form__button{
    width: 130px;
    height: 30px;
    border-radius: 15px;
    padding-right: 25px;
    text-align: right;
    background: url("images/plus.svg") #bdbdbd no-repeat 9% center;
    font-size: 15px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.form__button_active{
    background-color: #50d5ad;
}

.button-add{

}

.task__button{
    width: 15px;
    height: 15px;
    background: no-repeat center;
}
.button-edit {
     background: url("images/pencil.svg") transparent no-repeat center;
}
.button-edit:hover{
    background: url("images/pencil_blue.svg") transparent no-repeat center;
}

.button-delete {
    background: url("images/delete.svg") transparent no-repeat center;
}
.button-delete:hover{
    background: url("images/delete_red.svg") transparent no-repeat center;
}

.button-complete {
    background: url("images/checkbox.svg");
}
.button-complete:hover{
    background: url("images/checkbox_blue.svg");
}