.side-bar {
    margin-left: 80px;
    margin-right: 80px;
}

.options-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-list__item {
    padding: 0;
    margin: 25px 0 0;
    text-align: center;
    position: relative;
}

.options-list__item_to-do .options-list__link::before {
    content: url("images/tasks.svg");
    position: absolute;
    right: 50px;
}

.options-list__item_done .options-list__link::before {
    content: url("images/done.svg");
    position:absolute;
    right: 50px;
}

.options-list__item_to-do .options-list__link:hover::before {
    content: url("images/tasks_dark.svg");
}

.options-list__item_done .options-list__link:hover::before {
    content: url("images/done_dark.svg");
}

.options-list__link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: #979797;
    font-family: "Roboto", serif;
    font-weight: 400;
}

.options-list__link:hover {
    color: #838383;
}

.options-list__link_active {
    color: #78c2f5;
    font-weight: 500;
}

.options-list__link_active:hover {
    color: #78c2f5;
    font-weight: 500;
}

.options-list__item_done .options-list__link_active::before {
    content: url("images/done_blue.svg");
}

.options-list__item_done .options-list__link_active:hover::before {
    content: url("images/done_blue.svg");
}

.options-list__item_to-do .options-list__link_active::before {
    content: url("images/tasks_blue.svg");
}

.options-list__item_to-do .options-list__link_active:hover::before {
    content: url("images/tasks_blue.svg");
}