.task__complete-button{
    text-decoration: none;
    padding: 0;
    width: 15px;
    height: 15px;
    background: url("images/О.svg") transparent no-repeat center;
    border: none;
}

.task__complete-button:hover{
    background-image: url("images/O_blue.svg");
}